.searchtable{
    float: right;
    margin-top: -9px;
}

.actions{
    padding: 6px !important;
    border-radius: 50% !important;
}

.actions .pi{
    font-size: 14px;
    margin-left: 1px;
    margin-top: 0px;
}

.p-paginator-current .ng-star-inserted{
font-size: 14px !important;    
}

button.close {
    font-size: 18px !important;    
}