
  
<div class="modal fade" id="staffassignandreassign" tabindex="-1" 
role="dialog" aria-labelledby="staffassignandreassignLabel"  data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
       
        <div class="modal-header">
          <h6 class="modal-title" id="staffassignandreassignLabel">Assign / Reassign Task </h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset(f)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
    <form #f="ngForm" (ngSubmit)="submitassign()">

      <div class="modal-body">
          <!-- {{datastaff | json}} -->

      <div class="row col-12">
        <h6>Filter User List </h6>
      </div>

      <div class="row col-12" style="margin-bottom: 5px;"> 
        <div  *ngFor="let Filter of FilterUserList" class="p-field-checkbox FilterUserList" > 
          <p-radioButton [inputId]="Filter.value" name="Filter" [value]="Filter"   
           [(ngModel)]="selectedFilterUserList" (click)="onChangeFilter(Filter.value)"></p-radioButton>
          <label  [for]="Filter.value"  class="filterLabel" >{{Filter.name}}</label> 
       </div>
      </div>



      <p-table #dtuser [value]="UsersToAsignee"  [rows]="10" [showCurrentPageReport]="true" sortMode="multiple" 
      [scrollable]="false"  scrollHeight="400px"
           [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading" [rowHover]="true" styleClass="p-datatable-sm  p-datatable-striped p-datatable-gridlines "
           [paginator]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [globalFilterFields]="['display_NAME','user_NAME' ]"  [metaKeySelection]="true"  responsiveLayout="scroll" 
           selectionMode="multiple"  [(selection)]="selectedcustomers"  dataKey="user_NAME" >
          <ng-template pTemplate="caption">
            <div class="p-d-flex">
              <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" name="search" ngModel #inVal2="ngModel" (input)="dtuser.filterGlobal(inVal2.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
          </ng-template>

          <ng-template pTemplate="header">

            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
   
              <th pSortableColumn="display_NAME">
                <div class="p-d-flex p-jc-between p-ai-center">
                  display_NAME <p-sortIcon field="display_NAME"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="user_NAME">
                <div class="p-d-flex p-jc-between p-ai-center">
                  user_NAME <p-sortIcon field="user_NAME"></p-sortIcon>
                </div>
              </th>
    

           
            </tr>

            <tr >
              <th></th>
              <th>
                <p-columnFilter type="text" field="display_NAME" ></p-columnFilter>
              </th>
            
              <th>
                <p-columnFilter type="text" field="user_NAME"></p-columnFilter>
              </th>
<!-- 
              <th>
                <p-columnFilter  field="MEMBER_TYPE" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown  [ngModel]="value" [options]="statuses"   [ngModelOptions]="{standalone: true}" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                      <ng-template let-option pTemplate="item">
                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </th> -->
             
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">

              <tr >
              <td>
                <p-tableCheckbox [value]="customer"  (click)="selectRow(customer)" ></p-tableCheckbox>
             </td>
               <td>{{customer.display_NAME}}</td>
               <td>{{customer.user_NAME}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7"><h6 class="emptymessage">No Data Found</h6>  </td>
            </tr>
          </ng-template>
        </p-table> 
        
   

        </div>
    
   

        <div class="modal-footer">
          <button type="submit" class="btn btn-success"><i class="pi pi-check"></i> Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="reset(f)" ><i class="pi pi-times"></i> Cancel</button>
        </div>
        
      </form>
    </div>
      </div>
    </div>
  

