<div class="modal fade" id="ActivityWorkItems" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="ActivityWorkItemsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="modal-title" id="ActivityWorkItemsLabel"> Activity Attributes</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closedata()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <!-- {{ActivityAttributes | json}} -->
                    <!-- {{checktype}} -->
                 <div *ngIf="checktype == 'UserTask'">

                    <p-table #dt1 [value]="ActivityAttributes"  [rows]="10" [showCurrentPageReport]="true"  sortMode="multiple"
                    [rowsPerPageOptions]="[5,10,25,50]"  styleClass="p-datatable-sm p-datatable-gridlines" [loading]="loading"  selectionMode="single"
                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['att_NAME','att_VALUE' ]" scrollHeight="400px"
                    [metaKeySelection]="true"  responsiveLayout="scroll"  dataKey="att_NAME">
            
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="att_NAME" >
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    att_NAME                
                                    <p-sortIcon field="att_NAME"></p-sortIcon>
                                </div>
                            </th>
            
                            <th pSortableColumn="att_VALUE" >
                             <div class="p-d-flex p-jc-between p-ai-center">
                                att_VALUE                
                                 <p-sortIcon field="att_VALUE"></p-sortIcon>
                             </div>
                         </th>
           
                   
                        </tr>
           
                        <tr >
                         <th>
                           <p-columnFilter type="text" field="att_NAME" ></p-columnFilter>
                         </th>
                       
                         <th>
                           <p-columnFilter type="text" field="att_VALUE" ></p-columnFilter>
                         </th>
        
                        
                       </tr>
                    </ng-template>
            
            
                    <ng-template pTemplate="body" let-Process>
                        <tr>
                           
                         <td>{{Process.att_NAME}} </td>
                         <td>{{Process.att_VALUE}} </td>
                         
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                         <td colspan="7"><h6 class="emptymessage">No Data Found</h6>  </td>
                       </tr>
                    </ng-template>
                    </p-table>
                 </div>


                 <div *ngIf="checktype == 'Start_Event'">
                     {{checktype}}
                 </div>


                    
                    


                    <!-- <div class="row col-12">

                        <div class="col-4 mb-3" *ngFor="let WorkItem of ActivityWorkItems ">
                      
                            <div   [ngClass]="{
                                'background-Not-Started' : (WorkItem.work_ITEM_STATUS) == 'Not Started',
                                'background-Started' : (WorkItem.work_ITEM_STATUS) == 'Started',
                                'background-Running' : (WorkItem.work_ITEM_STATUS) == 'Running',
                                'background-Skipped' : (WorkItem.work_ITEM_STATUS) == 'Skipped',
                                'background-Terminated' : (WorkItem.work_ITEM_STATUS) == 'Terminated',
                                'background-Time-Out' : (WorkItem.work_ITEM_STATUS) == 'Time Out',
                                'background-Completed' : (WorkItem.work_ITEM_STATUS) == 'Completed',
                                'background-Finished' : (WorkItem.work_ITEM_STATUS) == 'Finished',
                                'background-Suspended' : (WorkItem.work_ITEM_STATUS) == 'Suspended'
                                
                            }">

                            <p-card class="card" id="card">
                            
                                <div class="p-d-flex" style="display: flex;">
                                    <div class="mr-2 tilte" >ID:</div>
                                    <div class="mr-2"> {{WorkItem.work_ITEM_ID}} </div>
                                </div>
                                <div class="p-d-flex" style="display: flex;">
                                    <div class="mr-2 tilte" >Name:</div>
                                    <div class="mr-2"> {{WorkItem.work_ITEM_NAME}} </div>
                                </div>
                                <div class="p-d-flex" style="display: flex;">
                                    <div class="mr-2 tilte" >Assign Date:</div>
                                    <div class="mr-2"> {{WorkItem.assign_DATE}} </div>
                                </div>
                                <div class="p-d-flex" style="display: flex;">
                                    <div class="mr-2 tilte" >Assigned User:</div>
                                    <div class="mr-2"> {{WorkItem.assigned_USER}}  </div>
                                </div>
                                <div class="p-d-flex" style="display: flex;">
                                    <div class="mr-2 tilte" >Finished BY :</div>
                                    <div class="mr-2"> {{WorkItem.finished_BY}}  </div>
                                </div>
                                <div class="p-d-flex" style="display: flex;">
                                    <div class="mr-2 tilte" >End_Date:</div>
                                    <div class="mr-2"> {{WorkItem.end_DATE}}  </div>
                                </div>

                                <div class="p-d-flex" style="display: flex;">
                                    <div class="mr-2 tilte" >STATUS:</div>
                                    <div class="mr-2" >
                                        <h6 
                                            [ngClass]="{
                                                'progress-Not-Started' : (WorkItem.work_ITEM_STATUS) == 'Not Started',
                                                'progress-Started' : (WorkItem.work_ITEM_STATUS) == 'Started',
                                                'progress-Running' : (WorkItem.work_ITEM_STATUS) == 'Running',
                                                'progress-Skipped' : (WorkItem.work_ITEM_STATUS) == 'Skipped',
                                                'progress-Terminated' : (WorkItem.work_ITEM_STATUS) == 'Terminated',
                                                'progress-Time-Out' : (WorkItem.work_ITEM_STATUS) == 'Time Out',
                                                'progress-Completed' : (WorkItem.work_ITEM_STATUS) == 'Completed',
                                                'progress-Finished' : (WorkItem.work_ITEM_STATUS) == 'Finished',
                                                'progress-Suspended' : (WorkItem.work_ITEM_STATUS) == 'Suspended'
                                                
                                            }" >{{WorkItem.work_ITEM_STATUS}} </h6>
                                    </div>
                                </div>
                                
                            </p-card>
  </div>

                        </div>

                    </div> -->


                    <!-- <div class="row col-12" *ngIf="WorkItemslength == true">
                        <h6 class="NoData">No Data Found </h6>
                    </div> -->


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closedata()"><i
                            class="pi pi-times"></i>
                        Close</button>
                </div>


            </form>
        </div>
    </div>
</div>