
.contentInstance{
   width: 99%;
   height: 320px;
   border: 1px solid #d9dce0;
   padding: 14px;
   box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
   border-radius: 4px 0px 0px 4px;
   margin-bottom: 10px;
}

.progress-easy{
   background: #ef4444;

}
.progress-medium{
   background: #ff9800;

}

.progress-hard{
   background: #22c55e;
}

.prog{
   height: 22px;
    font-size: 14px;
    color: black;
    width: 100%;

}

.treeinstance{
   position: absolute;
   margin-top: 5px;
   margin-left: -10px;
}

.treeinstance img{
   zoom: 85%;
}

.treeinstance .count{
   position: absolute;
   width: 35px;
   height: 35px;
   border-radius: 50% !important;
   top: -20px;
   right: -20px;
   padding-left: 12px !important;
}

.formsearch{
   /* width: -webkit-fill-available; */
   margin-bottom: -8px;
}

.progress-bar{
   font-size: 12px;
}

.titlelist{
   font-size: 12px;
}