/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400'); */

#loginPage {
  padding: 4% 33%;
}

#logo {
  width: 50%;
  margin-left: 26%;
}
.myform-btn {
  width: 100%;
  height: 50px;
  font-size: 17px;
  background: #a33;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.myform-btn:hover {
  background: #a33;
  opacity: 0.9;
}

.p-md-4 {
  padding: 15px 35px !important;
}

.titlelogin {
  text-align: center;
  margin-left: 44%;
  font-size: 22px;
  font-weight: 600;
}

.loginMode {
  margin-right: 8px !important;
  margin-bottom: 8px !important;
}

#loginPage .text-danger {
  font-weight: 600;
}
