
.actions{
    padding: 6px 10px ​!important;
    /* border-radius: 50% !important; */
    color: white;
    font-size: 16px;
    width: 35px;
    height: 35px;
    padding: 5px;

}

.actions .pi{
    margin-left: 2px;
}

.multicol{
   float: left;
    margin-top: -7px;
}