<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<div>
<p-table #dtlistactivities id="dtlistactivities" [value]="listactivities" [rows]="10" [showCurrentPageReport]="true" sortMode="multiple"
    [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading" [columns]="selectedColumns" selectionMode="single"
    styleClass="p-datatable-sm listactivities" [scrollable]="false"  [paginator]="true"  [scrollable]="false"    
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['activity_INSTANCE_ID' , 'activity_NAME' , 'instance_STATUS' ,  'due_DATE' , 'finish_DATE' , 'finished_BY']">

    <ng-template pTemplate="caption">
        <div class="table-header" style="height: 18px;">
            <!-- Instance List Activities -->

            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="multicol"
                selectedItemsLabel="{0} columns selected" placeholder="Choose Columns"></p-multiSelect>

            <div class="flex" style="float: right; margin-top: -11px;">
                <p-button label="Export" type="button" icon="pi pi-file-excel" styleClass="p-button-success mr-2" (click)="exportExcel()" title="Export Excel"  ></p-button>
            </div>

            <span class="p-input-icon-left searchtable" style="float: right; margin-top: -8px;">
                <i class="pi pi-search"></i>
                <input pInputText type="text" ngModel #inVal="ngModel" [(ngModel)]="h"  (ngModelChange)="onChangesearchActi(h)" 
                    (input)="dtlistactivities.filterGlobal(inVal.value, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>


    <ng-template pTemplate="header" let-columns>
        <tr>
            <th></th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>


    <ng-template pTemplate="body" let-myTask let-columns="columns">
        <tr>
              
            <td *ngIf="(myTask.activity_TYPE == 'UserTask')" > <span class="btn btn-warning actionsicon" ><i class="fa fa-user"></i></span> </td>
            <td *ngIf="(myTask.activity_TYPE == 'ServiceTask')" > <span class="btn btn-warning actionsicon" ><i class="fa fa-cogs"></i></span></td>
            <td *ngIf="(myTask.activity_TYPE == 'TaskApplication')" > <span class="btn btn-warning actionsicon" ><i class="fa fa-list"></i></span> </td>
           
            <td *ngIf="(myTask.activity_TYPE !== 'TaskApplication' && myTask.activity_TYPE !== 'ServiceTask' && myTask.activity_TYPE !== 'UserTask' )" > 
                
             </td>

            <td *ngFor="let col of columns ">
                <span *ngIf="col.field == 'activity_NAME' ">
                    <h6 title="activity_INSTANCE_ID">{{myTask.activity_INSTANCE_ID}}</h6>
                    <h6 title="activity_NAME">{{myTask.activity_NAME}}</h6>
                </span>


                <span *ngIf="col.field == 'instance_STATUS' ">
                    <h6 title="instance_STATUS" [ngClass]="{
                        'progress-Not-Started' : (myTask.instance_STATUS) == 'Not Started',
                        'progress-Started' : (myTask.instance_STATUS) == 'Started',
                        'progress-Running' : (myTask.instance_STATUS) == 'Running',
                        'progress-Skipped' : (myTask.instance_STATUS) == 'Skipped',
                        'progress-Terminated' : (myTask.instance_STATUS) == 'Terminated',
                        'progress-Time-Out' : (myTask.instance_STATUS) == 'Time Out',
                        'progress-Failed' : (myTask.instance_STATUS) == 'Failed',
                        'progress-Completed' : (myTask.instance_STATUS) == 'Completed'
                     }">{{myTask.instance_STATUS}}</h6>

                </span>

                <span *ngIf="col.field == 'view' ">
                    <!-- {{myTask.activity_TYPE }} -->
                    <div *ngIf="(myTask.activity_TYPE == 'ServiceTask' || myTask.activity_TYPE == 'TaskApplication' || myTask.activity_TYPE == 'UserTask') && (myTask.instance_STATUS == 'Completed' || myTask.instance_STATUS == 'Failed' ) ">

                    <button type="button" title="View PrepareFiles's Work Items" data-toggle="modal"
                    data-target="#ActivityWorkItems" (click)="viewhierarchydataRow(myTask)"
                    class="btn btn-primary actions"> <i class="fa fa-sitemap"></i>
                </button>
                </div>
                <app-instanceviewhierarchy #viewhierarchy></app-instanceviewhierarchy>
                    
                </span>

                <span *ngIf="col.field == 'due_DATE' ">
                    <h6 title="due_DATE">{{myTask.due_DATE }}</h6>
                </span>

                <span *ngIf="col.field == 'finish_DATE' ">
                    <h6 title="finish_DATE">{{myTask.finish_DATE }}</h6>
                </span>

                <span *ngIf="col.field == 'finished_BY' ">
                    <h6 title="finished_BY">{{myTask.finished_BY }}</h6>
                </span>
            </td>


        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">
                <h6 class="emptymessage">No Data Found</h6>
            </td>
        </tr>
    </ng-template>
</p-table>

</div>

