.actions{
    padding: 6px 10px ​!important;
    /* border-radius: 50% !important; */
    color: white;
    font-size: 16px;
}

.actions .pi{
    margin-left: 2px;
}

.progress-Not-Started{
    color: gray;
    font-weight: 600;
}
.progress-Started{
    color: #ffc107;
    font-weight: 600;
}

.progress-Terminated{
    color: #000;
    font-weight: 600;
 }

 .progress-Running{
    color: #ff9800;
    font-weight: 600;
}

 
 .progress-Skipped , .progress-Terminated , .progress-Time-Out , .progress-Failed{
    color: #a33;
    font-weight: 600;
 }
 
 .progress-Completed{
    color: #4caf50;
    font-weight: 600;
 }
 
 
.multicol{
    float: left;
     margin-top: -7px;
 }

 .listactivities{
     max-height: 600px !important;
 }

 .actionsicon{
    background: white;
     border: 1px solid #ffc107;
     border-radius: 50%;
 }

 .actionsicon i{
    color: #ffc107;
 }